@require '../variables.styl'

#all, div#ws div#content {
  max-width: 1285px
  margin: 0 auto
  left: 0
  right: 0
}

#all {
	background-color: $fg
	border-bottom: 2px solid hsla(0, 0%, 0%, 0.308)
	width: 100% !important
	max-width: 100% !important
	height: 45px
	margin: 0
	padding: 10px

	#menu {
		display: flex
		background-image: none
		width: 1000px
		height: 45px
		float: right
		margin-right: 7%
		
		> a,
		#menu_right_side {
			display: flex
			align-items: center
		}
	}
}

