#up {
	width: auto
	height: 45px
	padding-right: 100px

	img {
		display: none
	}

	#logo {
		height: 45px
	}

	a {
		&::before {
			content: "rutor"
			position: relative
			display: inline-block
			font-size: 4em
			font-weight: bold
			font-family: 'Noto Sans'
		}
	}
}