@require '../variables.styl'

#up {
	width: auto
	height: auto
	
	img {
		display: none
	}
	
	#logo {
		height: 45px
		margin-left: 16%
	}
	
	a {
		display: flex
		height: 100%
		align-items: center
		&::before {
			content: "rutor"
			font-size: 4em
			font-weight: bold
			font-family: 'Noto Sans'
			padding-bottom: 15px
		}
	}
}