@require '../variables.styl'

#all {
	background-color: $two-bg
	border-bottom: 2px solid #0000002B
	width: 100% !important
	max-width: 100% !important
	height: 45px
	margin: 0
	padding: 10px

	#menu {
		display: flex
		background-image: none
		width: 1000px
		height: 45px
		float: right
		margin-right: 7%
		
		> a, #menu_right_side {
			display: flex
			align-items: center
		}
	}
}

